* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #606c82;
}

#div-info{
    visibility:hidden ;
}

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color:#2D3142;
    color: white;
}

header > h1{
    align-self: start;
    justify-self: start;
    padding: 0.5rem;
    margin: 15px;
    margin-left: 100px;
}

header > nav{
    justify-self: end;
    align-self: center;
    padding: 1rem;
}

header > nav > a{
    margin-right: 100px;
}

.navbar{
    position: sticky;
    top: 0px;
    opacity: 0.9;
}

a {
    border: solid white 3px;
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

a:hover{
    border: solid #EF8354 3px;
}

a:visited{
    color: antiquewhite;
}

.container{
    margin-top: 50px;
}

.container :nth-child(4){
    margin-bottom: 100px;
}

article{
    padding: 80px 50px 20px;
    border-radius: 60px;
    /* margin-bottom: 50px; */
}

.container :nth-child(1){
    padding-top: 0px;
}

.art-head{
    height: 3.5rem;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color:#EF8354;
}

.art-content{
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    grid-auto-rows: minmax(200px, auto);
    background-color:#dddddd ;
}

img{
    width: 100%;
}

.content-img {
    display: flex;
    justify-content: center;
}

.content-p{
    padding: 10px 15px;
    text-indent: 30px;
    /* padding-left: 15px; */
    border-left: 1px solid black;
}

footer{
    color: white;
    background-color: #3f4755;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content-pp{
    padding: 10px 15px;
    text-indent: 30px;
    border-right: 1px solid black;
}

.footer {
    width: fit-content;
    margin: 30px;
    justify-self: center;
    align-self: center;
}

.footer a {
    margin: 30px;
}